<% if !@twitch.nil? %>
    <div class="stream-wrapper">
        <iframe class="stream-element" src="http://www.twitch.tv/crank/embed"></iframe>
        <iframe class="stream-chat" src="http://www.twitch.tv/crank/chat"></iframe>
    </div>
<% else %>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>No stream data could be loaded.</p>
           </div>
       </div>
    </div>
<% end %>
