<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-md-offset-9">
                <article>
                    <p>This website is open-source software and can be found on <a href="http://github.com/francoisfaubert/crank.gg">Github</a>.</p>
                </article>
            </div>
        </div>
    </div>
</footer>
