<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-3">
                <article>
                    <p><strong>CranK 'JaeWon Choi'</strong><br>Korean Professional Starcraft Gamer &amp; Streamer.</p>
                </article>
            </div>
            <div class="col-xs-3 col-xs-offset-6">
                <article>
                    <p>This website is open-source software and can be found on <a href="http://github.com/francoisfaubert/gosucrank.com">Github</a>.</p>
                </article>
            </div>
        </div>
    </div>
</footer>
