<section class="sponsors">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <a class="link" target="_blank" href="http://www.twitch.tv/nvidia">
                    <img alt="NVIDIA" src="http://static-cdn.jtvnw.net/jtv_user_pictures/panel-29267852-image-ff8977932fb64da2-320.png">
                </a>
            </div>
        </div>
    </div>
</section>
