<section class="sponsors">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-3">
                <a href="http://www.gog.com/"><%= image_tag("icon-gog.png") %></a>
            </div>
            <div class="col-xs-3">
                <a href="http://wasdkeyboards.com/"><%= image_tag("icon-wasd.png") %></a>
            </div>
            <div class="col-xs-3">
                <a href="https://twitter.com/cynicalbrit/"><%= image_tag("icon-cynicalbrit.png") %></a>
            </div>
            <div class="col-xs-3">
                <a href="http://axiomesports.com/"><%= image_tag("icon-axiom.png") %></a>
            </div>
        </div>
    </div>
</section>
